.App {
  padding-top: 60px;
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
}
.header-web {
  font-size: 60px;
  margin-top: 10px;
  /* font-family: 'revert'; */
  font-family: 'Rajdhani';
}
.body-info {
  background: linear-gradient(
    to right, 
    #ff9e2c 0%, 
    #ff9e2c 50%, 
    #b6701e 50%, 
    #b6701e 100%
  );
  height: 25px;
  align-items: center;
  display: block;
}
h2 {
  font-size: 20px;
}
.text-info {
  width: 500px;
  margin-left: 10px;
  text-align:  left;
}
.topic-text-info {
  color: rebeccapurple;
  font-size: 30px;
}
.text-info.text-about {
  width: 500px;
  margin-left: 10px;
  text-align:  left;
}
.body {
  float:left;
  width:100px;
  height:100px;
  /* border:solid 2px green; */
  text-align:center;
  align-items: center;
  margin: 150px;
}
.img-me {
  width:300px;
  padding: 30px;
  margin-top: 30px;
  background-color: #6CDEEF;
}
.body.my-img {
  margin-left: 0px;
}